.container{
    min-height: 656px;
    height: 100%;
    width: 100%;
    display: flex;
    .wrapper{
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        box-shadow: -1px 3px 5px -2px rgba(0,0,0,1);
        -webkit-box-shadow: -1px 3px 5px -2px rgba(0,0,0,1);
        -moz-box-shadow: -1px 3px 5px -2px rgba(0,0,0,1);
        position: relative;
        display: flex;
        height: 100%;
        .right{
            border-top-right-radius: 50px;
            width: 100%;
            height: 100%;
            .image{
                width: 100%;
                height: 100%;
                border-top-right-radius: 50px;
            }
        @media screen and (max-width:750px) {
            display: none;
        }
        }
        .left{
            padding: 88px 50px 148px 60px;
            border-top-left-radius: 50px;
            width: 100%;
            background: rgba(36, 171, 112, 0.04);

            @media screen and (max-width:750px) {
                border-top-right-radius: 50px;
            }

            .headerText{
                font-family: sans-serif;
                font-weight: 600;
                font-size: 64px;
                line-height: 80px;
                margin-bottom: 30px;

                @media screen and (max-width:1150px) {
                    margin-bottom: 20px;
                    font-size: 50px;
                    line-height: 55px;

                }
            }

            .text{
                font-family: sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                @media screen and (max-width:1150px) {
                    margin-bottom: 20px;
                    font-size: 18px;
                    line-height: 22px;

                }
            }
            button{
                text-decoration: none !important;
                cursor: pointer;
                margin-top: 50px;
                display: flex;
                align-items: center;
                gap:10px;
                color:black;
                border: none;
                width: max-content;
                background: transparent;
                font-family: sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                &:hover{
                    .start{
                        transition: 1s;
                        transform: rotate(360deg);
                    }
                }
                .start{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: white;
                    border-radius: 50%;
                    color:green;
                    .icon{
                        height: 15px !important;
                    }
                }

            }
        }
        .overwriteWrapper{
            position: absolute;
            max-width: 1000px;
            width: 100%;
            max-height: 100px;
            bottom: 41px;
            left: 50%;
            padding: 0 20px;
            transform: translateX(-50%);
        .overwrite{
            overflow-x: scroll;
            align-items: center;
            display: flex;
            // max-width: 1000px;
            // width: 100%;
            // height: 100px;
            // position: absolute;
            // bottom: 41px;
            // left: 50%;
            // transform: translateX(-50%);
            background: white;
            border-radius: 50px;
            z-index: 1;
            box-shadow: -1px 3px 5px -2px rgba(0,0,0,1);
            -webkit-box-shadow: -1px 3px 5px -2px rgba(0,0,0,1);
            -moz-box-shadow: -1px 3px 5px -2px rgba(0,0,0,1);
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
            .button{
                font-family: sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                height: 100px;
                padding: 38px 46px;
                margin-left: auto;
                display: flex;
                align-items: center;
                transition: 0.5s;
                max-width: 223px;
                min-width: 190px;
                svg{
                    transition: 0.7s;
                }
                .input{
                    transition: 0.7s;
                    background: none;
                    border: none;
                    width: 100%;
                    outline: none;
                    color:white;
                    opacity: 1;
                    &:hover{
                        padding: 1px 3px;
                        color:white;
                    }
                    &::placeholder{
                        opacity: 1;
                        color:white !important;

                    }
                }
                &:hover{
                    color:transparent;
                    padding: 38px 42px;
                    svg{
                        height: 30px !important;
                    }
                }
            }
            .categories{
                display: flex;
                width: max-content;
                align-items: center;
                .categoriesElement{
                    display: flex;
                    align-items: flex-start;
                    margin: 0 30px;
                    width: 130px;
                    height: 48px;
                 .text{
                    display: flex;
                    flex-direction: column;

                    .headText{
                        font-family: sans-serif;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                    }
                    .subText{
                        margin-top: 8px;
                        font-family: sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #555555;
                        letter-spacing: -1px;
                    }
                 }
                 .icon{
                    fill:#24AB70;
                 }
                }
                .separator{
                    height: 60px;
                    width: 1px;
                    background: #E8E8E8;
                }
            }
        }
    }

    }

}